
.DS_Store
.idea
.vscode
__pycache__
*.pkl
stations.txt
noaaweather/__pycache__
noaaweather/gfs_levels_config.json
noaaweather/cache/
noaaweather/bin/old*
noaaweather/bin/makefiles/
/venv/
/*.rwx
/*test.*
/*test*